@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --marble: #fdfdfd;
    --ash: #BCBCBC;
    --cobblestone: #7e7e86;
    --twilight: #4073E9;
    --midnight: #3962c0;

    --widgetColour: #8a2be2;
    --primaryTextColour: #ffffff;
    --secondaryTextColour: #000000;

    --widgetWidth: 30vw;
    --widgetHeight: 30vw;
    --widgetSize: "square";

    --textScalar: 1;
    --titleTextSize: 6vw;
    --bodyTextSize: 2.5vw;
    --titleAlign: center;

    --marbleRGB: 252, 252, 252;
    --ashRGB: 188, 188, 188;
    --cobblestoneRGB: 126, 126, 134;
    --widgetColourRGB: 138, 43, 226;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Barlow', sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 300;
  overflow-x: hidden;
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 400;
}

h3 {
    margin: 0;
    font-weight: 300;
}

footer {
    display: flex;
    height: 7.8vh;
    background: var(--cobblestone);
    align-items: center;
}

#menu {
    padding: 1vh 1vw;
    height: 20vh;
    background: var(--marble);
    border-bottom: 2px solid var(--ash);
}

#content {
    display: flex;
    width: 100%;
    height: 70vh;
}

#content > * {
    box-sizing: border-box;
    width: 100%;
}

#toolbox {
    padding: 2vh 1vw;
    background: var(--marble);
    flex: 3;
}

#workspace {
    display: flex;
    padding: 1vh 1vw;
    background: var(--ash);
    flex: 5;
    align-items: center;
    justify-content: center;
}

#library {
    /* padding: 1vh 1vw; */
    background: var(--marble);
    flex: 2;
}

#widgetName {
    width: 28.8%;
    font-size: 1.5em;
    font-weight: 300;
}

#searchBar {
    width: 100%;
    font-size: 1em;
    font-weight: 200;
    color: var(--cobblestone);
}

#widget {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--widgetColour);
    box-sizing: border-box;
    overflow: none;
    border-radius: 5px;
    justify-content: center;
}

#widget h1 {
    font-size: calc(var(--titleTextSize) * var(--textScalar));
    color: var(--primaryTextColour);
    text-align: var(--titleAlign);
    margin: 15px;
}

#widget p {
    font-size: calc(var(--bodyTextSize) * var(--textScalar));
    color: var(--secondaryTextColour);
    text-align: center;
    margin: 15px;
}

#topBar {
    justify-content: space-between;
}

.textSizePicker {
    width: 25%;
}

.editableFixed {
    border: 2px solid var(--cobblestone);
    border-radius: 5px;
    padding: 0.5em;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

.catagoryHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lineSep {
    background-color: var(--cobblestone);
    width: 80%;
    height: 2px;
    transform: translateY(4px);
}

.blocksGrid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
}

.block {
    border-radius: 0.25em;
    display: flex;
    padding: 0.125em;
    margin: 0.125em;
    justify-content: center;
    align-items: center;
    background-color: var(--marble);
    border: none;
    font-size: 0.85em;
    cursor: pointer;
    transition: 0.25s;
}

.block:hover {
    background-color: rgba(var(--ashRGB), 0.2);
}

.editTabsList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.tabButtonContainer {
    float: left;
}

.tabButton {
    padding: 0; 
    margin: 0; 
    background-color: transparent; 
    border: none
}

.tabText {
    font-family: 'Barlow', sans-serif;;
    display: block;
    text-align: center;
    margin: 10px;
}

.tabSettingContainer {
    padding-left: 5%;
    display: none;
}

.settingTitle {
    margin-right: 5%;
}

.setting {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 15px;
}

.colourPicker {
    padding: 0; 
    background-color: transparent; 
    border: none; 
    width: 25%;
}

.selectOptions {
    font-family: 'Barlow', sans-serif; 
    font-size: 0.85em; 
    font-weight: 200; 
    background: var(--marble); 
    border: none;
}

.flexColumn {
    display: flex; 
    flex-direction: column;
}

.flexRow {
    display: flex; 
    flex-direction: row;
}

.buttonText {
    font-family: Barlow, sans-serif;
}

.blueButton {
    background-color: var(--twilight);
    border: 0px solid var(--twilight);
    border-radius: 5px;
    height: 100%;
    padding: 0 1em;
    min-width: 10vw;
    max-width: 15em;
    transition: border 0.5s;
    margin: 0 2.5vw;
}

.blueButton:hover {
    border: 0.5em solid var(--midnight);
}

.blueButtonText {
    color: white;
    font-weight: bold;
    font-size: 1.9em;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
#saveStatusUpdates {
    color: var(--cobblestone);
    transform: translateY(0.8em);
}
.saveInactive {
    display: none;
}

.saveActive {
    display: inherit;
}